/* Big tablets to 1500px (widths smaller than the 1140px row) */

@media only screen and (max-width: 1350px) {
    
    .about-para {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .about-para-me {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .about {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .about-heading-para {
        text-align: center;
        width: 400px;
    }

    .about-main-para {
        text-align: center;
        width: 300%;
    }

    .about-para-photo {
        margin-bottom: 30px;
    }

    .expertise-values {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .expertise {
        text-align: center;
    }

    .expertise-seperator {
        margin: 30px auto;

    }

}

@media only screen and (max-width: 1100px) {

    h2 {
        font-size: 120%;
    }
    
    .nav-content {
        margin: 0 25px 0 0;
        font-size: 100%;
    }

    .resume-header {
        font-size: 90%;
    }

    .about-para-photo {
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {

    .navigation__button {
        height: 60px;
        width: 60px;
        top: 35px;
        right: 35px;
    }
      
    .navigation__background {
        height: 60px;
        width: 60px;
        top: 35px;
        right: 35px;
    }
      
    .navigation__item {
        margin: 2rem; 
    }
      
    .navigation__link:link, .navigation__link:visited {
        font-size: 25px;
    }
      
    .navigation__icon {
        margin-top: 28px; 
    }
    
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 27px;
    }

    #open {
        font-size: 170%;
    }

    #come_in {
        font-size: 150%;
    }

    #portfolio_name {
        font-size: 17px;
    }

    h4 {
        font-size: 150%;
    }

    hr {
        width: 100px;
    }

    .my-photo {
        width: 450px;
    }

    .skills-image {
        width: 500px;
    }

    .nav-options {
        display: none;
    }

    .hidden {
        position:fixed; 
        top: 0; 
        left: 0; 
        z-index: 2000; 
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 55px;
        padding: 10px;
        background: white;
        opacity: 0.85; 
    }

    .hidden2 {
        display: none;
        position:fixed; 
        top: 0; 
        left: 0; 
        z-index: 2001; 
        width: 100%;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background: rgb(10, 10, 10);
        opacity: 0.95;
    }

    .icon-footer3 {
        margin: 0 4px 10px 4px;
        padding: 10px;
        border-radius: 50%;
        font-size: 45px;
    }

    .icon-footer3:hover {
        color: grey;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .close-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
    }

    .closing-icon-bar {
        width: 48px;
        height: 48px;
        color: white;
        padding: 10px 10px;
        margin: 0.2% 0 5% 93.5%;
        -webkit-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;
    }

    .closing-icon-bar:hover {
        color: white;
        cursor: pointer;
    }

    .main-menu-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .nav-content0 {
        color: grey;
        font-family: sans-serif;
        font-weight: 100;
        -webkit-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;
    }

    .nav-content0:hover {
        color: white;
    }

    .bottom-hidden {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .footer-name-2 {
        margin-bottom: 20px;
        color: white;
        font-size: 12px;
        font-family: sans-serif;
        font-weight: 100;
    }

    .selected2 {
        color: white;
    }

    .nav-icon-bar {
        width: 45px;
    }

    .nav-icon-bar:hover {
        cursor: pointer;
    }

    #portfolio_name {
        font-size: 15px;
    }

    .portfolio-main-button {
        width: 19px;
    }

}

@media only screen and (max-width: 610px) {
      
    .navigation__button {
        height: 45px;
        width: 45px;
        top: 20px;
        right: 15px;
    }
      
    .navigation__background {
        height: 45px;
        width: 45px;
        top: 20px;
        right: 15px;
    }
      
    .navigation__nav {
        top: 0;
        left: 0;
    }
    
      
    .navigation__item {
        margin: 1rem; 
    }
      
    .navigation__link:link, .navigation__link:visited {
        font-size: 18px;
        margin: 5px; 
    }
      
    .navigation__icon {
        margin-top: 22px; 
    }
    
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 20px;
        height: 1px;
    }

    .black-arrow-left,
    .black-arrow-right {
        width: 30px;
        height: 30px;
    }
    

    h2 {
        font-size: 100%;
    }

    #open {
        font-size: 100%;
    }

    #come_in {
        font-size: 90%;
    }

    #portfolio_name {
        font-size: 12px;
    }

    #main_button {
        width: 140px;
        height: 35px;
    }
    
    .portfolio-main-button {
        display: none;
    }

    .about-heading-para {
        font-size: 110%;
    }

    .about-main-para {
        font-size: 100%;
    }

    .expertise {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        
    }

    .expertise-heading-para {
        font-size: 110%;
    }

    .expertise-main-para {
        font-size: 100%;
        width: 50%;
    }


    .expertise-seperator {
        width: 20%;
    }

    .about-para-photo {
        width: 90%;
    }

    .closing-icon-bar {
        width: 45px;
        height: 45px;
        margin-left: 86%;
    }

    h4 {
        font-size: 100%;
        padding: 0;
    }

    hr {
        width: 50px;
    }

    .my-photo {
        width: 320px;
    }

    .photo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .project-image {
        width: 240px;
        height: 150px;
        margin-bottom: 20px;
    }

    .main-project-title {
        margin-top: 20px;
    }
    
    .main-project-hr {
        width: 300px;
    }
    
    .main-project-long-description {
        width: 60%;
        margin-bottom: 40px;
    }

    .gallery {
        padding-bottom: 10px;
        padding-top: 0px;
    }

    .skills-image {
        width: 280px;
        margin: 10px 0;
    }

    .holder {
        width: 70%;
    }

    .input-form, 
    textarea {
        font-size: 15px;
        margin: 0 7px 7px 7px;
        width: 300px;
    }

    textarea {
        min-width: 300px;
        max-width: 300px;
    }

    .submit-button-container {
        margin: 20px 200px 0 0;
    }

    .submit-button {
        padding: 13px 40px 13px 20px;
        font-size: 17px;
    }

    .fa-file-alt,
    .fa-github-square, 
    .fa-envelope, 
    .fa-linkedin, 
    .fa-clipboard-list {
        margin: 0 4px 10px 4px;
        padding: 5px 9px;
        font-size: 45px;
    }
}